* {
    box-sizing: border-box;
    font-family: Ariel;
}

#quiz-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: vw;
    height: 50vh;
    margin: 20px;
}

body nav {
    float: left;
}

#timer {
    float: right;
    color: red;
}

.btn {
    background-color: purple;
    color: white;
}

.hide {
    display: none;
}

/* .container {
    width: 500px;
    max-width: 80%;
    background-color: gainsboro;
    padding: 50px;
    border-radius: 10px;

} */